<ion-view view-title="{{vm.item.name}}">
  <ion-content class="has-header">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="vm.handleOnRefresh()"
    ></ion-refresher>

    <ion-list>
      <ion-item class="text-center">
        <img ng-src="{{vm.item.image || 'img/no_image.png'}}" alt="Item image" width="50%">
      </ion-item>
      <label class="item item-input item-stacked-label" collection-repeat="item in vm.fields">
        <span class="input-label">{{item.label}}</span>
        <input type="text" value="{{item.value}}">
      </label>
    </ion-list>

  </ion-content>
</ion-view>
