<ion-view view-title="Ministries">
  <ion-nav-buttons side="secondary" class="has-header">
    <button
      class="button button-positive icon ion-android-funnel"
      modal-select
      modal-title="Sort events by"
      ng-model="vm.conditions.sortBy"
      options="vm.sortItems"
      option-getter="vm.handleOptionGetter(option)"
      on-select="vm.handleOnSort()"
    >
      <div class="option">{{option.title}}</div>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h2 class="title">Event Ministries</h2>
  </ion-content>
</ion-view>
