<ion-view view-title="Events">
  <ion-nav-buttons side="secondary" class="has-header">
    <button
      class="button button-positive icon ion-android-funnel"
      modal-select
      modal-title="Sort events by"
      ng-model="vm.conditions.sortBy"
      options="vm.sortItems"
      option-getter="vm.handleOptionGetter(option)"
      on-select="vm.handleOnSort()"
    >
      <div class="option">{{option.title}}</div>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="vm.handleOnRefresh()"
    ></ion-refresher>

    <ion-list>
      <ion-item
      	class="item-icon-right"
      	collection-repeat="item in vm.list"
        collection-item-width="'100%'"
        collection-item-height="vm.getItemHeight(item, $index)"
      	ui-sref="tab.settings.events.items({ eventId: item.objectId })"
        ng-style="{ height: getItemHeight(item, $index) }"
      >
        <h2>{{item.name}}</h2>
        <p>{{item.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item ng-if="vm.list.length === 0 && !ctrl.loadMoreData">
        No events
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
      ng-if="vm.loadMoreData"
      on-infinite="vm.handleOnInfiniteScroll()"
      distance="1%"
    ></ion-infinite-scroll>
  </ion-content>
</ion-view>
