<ion-view view-title="Items To Check Out">
  <ion-nav-buttons side="secondary" class="has-header">
    <button
      class="button button-positive icon ion-android-funnel"
      modal-select
      modal-title="Sort items by"
      ng-model="vm.sortBy"
      options="vm.sortItems"
      option-getter="vm.handleOptionGetter(option)"
      on-select="vm.handleOnSort()"
    >
      <div class="option">{{option.title}}</div>
    </button>
  </ion-nav-buttons>
  <div class="bar bar-subheader bar-stable">
    <h2 class="title" style="text-align: left;">{{vm.event.name}}</h2>
  </div>
  <ion-content class="has-header has-subheader">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="vm.handleOnRefresh()"
    ></ion-refresher>

    <ion-list>
      <ion-item
        class="item-thumbnail-left item-icon-right"
        collection-repeat="item in vm.list | orderBy:vm.sortBy"
        collection-item-width="'100%'"
        on-swipe="vm.handleOnSwipe($event, item)"
      >
        <img ng-src="{{item.image || 'img/no_image.png'}}" alt="Item image">
        <h2>{{item.name}}</h2>
        <p>{{item.itemId}}</p>
        <p>{{vm.getOwnerName(item)}}</p>
        <span class="item-note balanced" ng-if="vm.getItemLog(item).confirm">
          {{vm.getItemLog(item).checkedOutBy}}
        </span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item ng-if="vm.list.length === 0 && !ctrl.loadMoreData">
        No items to check out
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
      ng-if="vm.loadMoreData"
      on-infinite="vm.handleOnInfiniteScroll()"
      distance="1%"
    ></ion-infinite-scroll>
  </ion-content>
</ion-view>
